.signup-grid-container{
    position: relative;
    display: grid;
    grid-template-columns: 30vw auto;
    width: 94vw;
    margin-left: 3vw;
    margin-top: 1em;

}

.gridcontent1{
    margin-top: 1em;
    text-align:;
    
}

.gridcontent2{
    position: relative;
    border-left: solid rgb(114, 113, 113) 1px;
    
}


.gridcontent1 h3, .gridcontent2 h3{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin-left: 1cm;
    text-transform: uppercase;
    margin-bottom: 1em;
}


#google-button, #fb{
    min-width: 27vw;
    text-align: center;
    margin: 0.4em;
    padding: 0.3em;
    font-size: 1.2em;
    color: white;
    border:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#google-button span, #fb span{
    font-family: Arial, Helvetica, sans-serif;
}

#google-button{
    background-color: rgba(255, 1, 1, 0.904);
}

#fb{
    background-color: rgb(16, 16, 216);
}


#email,#password,#cpassword,#number, #verificationCode, .gridcontent2 input, .gridcontent1 input, select{
    font-size: 1.2em;
    width: 80%;
    padding-bottom: 2mm;
    padding-left: 3mm;
    border-bottom: solid grey 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    margin-top: 1em;
}

#signup,#logIn, #phoneAuth,#codeverify{
    color: white;
    background-color: rgb(7, 5, 116);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0;
    border-radius: 5px;
    margin: 1em;
    font-size: 1.4em;
    padding: 0.5em  ;
    
}

#formcontainer-signup{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.5em;
    background-color: transparent;
    margin-left: 0.5em;
    margin-right:0.5em ;
    border-radius: 7px;
}

#formcontainer-signup p{
    text-align: center;
    font-size: 1.1em;
}

#google-button:hover, #fb:hover, #signup:hover, #phoneAuth:hover,#codeverify:hover{
    opacity: 0.8;
}

@media only screen and (max-width:800px){
.gridcontent2 h3, .gridcontent1 h3{
    font-size: 1.2em;
    margin-left: 0cm;
}
}
@media only screen and (max-width:600px){
    .signup-grid-container{
        position: relative;
        display: grid;
        grid-template-columns: 90vw;
        width: 94vw;
        margin-left: 3vw;
        margin-top: 1em;
    
    }
    }